<!--<div class="center jumbotron">
	<h1> 404 ERROR! </h1>
	<h2> Such a domain/hospital does not exist! </h2>-->
<div class="center container">
	<!--<img class="img-fluid", src="/images/404Error.jpg" alt="404 ERROR">-->
	<%=image_tag "404Error.jpg", class: "img-fluid", alt: "404 ERROR" %>
</div>