<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<% url = "http://#{@resource.hospital.sub_domain}.localhost:3000/users/confirmation?confirmation_token=#{@token}" %>

<p><%= link_to url, url %></p>
